nuxeo-services/nuxeo-platform-directory/nuxeo-platform-directory-types-contrib/src/main/resources/directoryschema/vocabulary_noid.xsd

<?xml version="1.0"?>

<xs:schema
    targetNamespace="http://www.nuxeo.org/ecm/schemas/vocabulary"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    >

    <!-- id is forbidden for VCS, use the doc name instead for storage -->
    <xs:element name="label" type="xs:string"/>
    <xs:element name="obsolete" type="xs:integer" default="0"/>
    <xs:element name="ordering" type="xs:integer" default="10000000"/>

</xs:schema>


